@mixin airtime-list {
  $delete-width: 70px;
  $time-width: 70px;
  $check-width: 50px;
  $start-time-width: 120px;
  @include link-list;
  
  li {
    &.item {
      p {
        &.time {
          @include zurui-line-right;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          padding: 0 15px;
          width: $time-width - 30px;
          font-size: 12px;
          font-weight: bold;
          color: #000;
          
          a {
            margin: 0 -15px;
            padding: 0 15px;
            display: block;
            text-decoration: none;
            color: #000;
          }
        }
        &.name {
          display: block;
          margin-left: $time-width;
          margin-right: $check-width;
          
          a {
            display: block;
            text-decoration: none;
            color: #000;
          }
        }
        &.check {
          @include zurui-gradient-top-lighten($link-list-background-color);
          @include zurui-line-left;
          
          position: absolute;
          z-index: 3;
          top: 0;
          right: 0;
          bottom: 0;
          padding: 0 15px;
          width: $check-width - 30px;
          
          input {
            position: relative;
            left: 2px;
          }
        }
        &.delete {
          @include zurui-gradient-top-lighten($link-list-background-color);
          @include zurui-line-left;
          display: none;
          position: absolute;
          z-index: 3;
          top: 0;
          right: 0;
          bottom: 0;
          padding: 0 5px;
          width: $delete-width - 10px;
          text-align: center;
          
          button {
            @include submit-button;
            padding-left: 10px;
            padding-right: 10px;
            
          }
        }
        &.start_date {
          @include zurui-gradient-top-lighten($link-list-background-color);
          @include zurui-line-left;
          display: none;
          position: absolute;
          z-index: 3;
          top: 0;
          right: $delete-width;
          width: $start-time-width;
          text-align: center;
          
          input {
            text-align: left;
            width: $start-time-width - 30px;
            font-size: 12px;
          }
        }
      }
      
      &.new, &.new p.check, &.new p.delete, &.new p.start_date {
        @include zurui-gradient-top-lighten(#ffffaa);
      }
    }
  }
  
  &.edit li.item p {
    &.name {
      margin-right: $delete-width + $start-time-width;
    }
    &.check {
      display: none;
    }
    &.delete, &.start_date {
      display: block;
    }
  }
}
