@import "application_helper";
@import "airtime_helper";

$anime-list-width: 300px;
$anime-list-nav-height: 40px;
$anime-summary-height: 40px;
$anime-airtime-list-width: 270px;

div.anime.list {
  @include zurui-line-right;
  position: fixed;
  top: $page-header-height + 1px;
  bottom: $page-footer-height + 1px;
  left: 0;
  width: $anime-list-width;
  
  nav {
    @include option-nav($anime-list-nav-height);
    
    border-top-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    border-right: 1px solid;
    vertical-align: middle;
    
    ul {
      li {
        width: $anime-list-width / 3;
      }
    }
  }
  
  ul.list {
    $thumbnail-size: 75px;
    @include link-list($thumbnail-size);
    position: absolute;
    top: $anime-list-nav-height;
    bottom: -1px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid;
    
    li {
      padding-left: $thumbnail-size+1px;
      
      a {
        p {
          margin: 0;
          padding: 0;
          vertical-align: top;
          
          &.thumbnail {
            @include zurui-line-right;
            position: absolute;
            left: 0;
            top: 0;
            height: $thumbnail-size;
            width: $thumbnail-size;
            
            img {
              display: block;
              height: $thumbnail-size;
              width: $thumbnail-size;
            }
          }
        }
        &:hover p.thumbnail img {
          @include opacity(0.7);
        }
      }
    }
  }
}

div.anime.detail {
  margin-left: $anime-list-width + 1px;
  margin-top: $anime-summary-height;
  margin-right: $anime-airtime-list-width + 1px;
  
  div.summary {
    @include detail-header($anime-summary-height);
    position: fixed;
    z-index: 10;
    top: $page-header-height + 1px;
    left: $anime-list-width + 1px;
    right: 0;
    
    h2 {
      margin-left: 25px;
    }
    p.enable {
      position: absolute;
      top: -1px;
      left: $page-base-w-padding;
    }
    nav {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 0 10px;
      input {
        @include submit-button;
      }
    }
  }
  
  div.content {
    @include text-shadow(0 1px 0 rgba(255,255,255,0.7));
    padding: $page-base-w-padding;
    font-size: 14px;
    
    div.video {
      position: relative;
      margin: -($page-base-w-padding+1) (-$page-base-w-padding) 0;
      padding-top: 100/640*360%;
      
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    
    nav {
      ul {
        @include inline-list;
      }
    }
  }
  
  ul.airtime-list {
    @include airtime-list;
    @include zurui-line-left;
    position: fixed;
    top: $page-header-height + $anime-summary-height + 2px;
    right: 0;
    bottom: $page-footer-height;
    width: $anime-airtime-list-width;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
