@import "application_helper";

div.memo.base {
  $width: 450px;
  $balloon-height: 20px;
  $offset: $width/2 - $balloon-height/2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  margin-top: -$balloon-height;
  margin-left: -$offset;
  padding-top: $balloon-height;
  
  div.memo.balloon {
    @include transform(translate($offset, $balloon-height*sqrt(2)/2) rotate(45deg));
    @include background-image(linear-gradient(135deg, color-stops($page-background, $page-background 50%, transparent 51%, transparent)));
    position: absolute;
    z-index: 2;
    width: $balloon-height;
    height: $balloon-height;
    top: 0;
    left: 0;
  }
  
  section.memo {
    @include box-shadow(0 2px 3px rgba(0,0,0,0.75));
    @include border-radius(3px);
    width: $width;
    
    div.memo.body {
      $height: 200px;
      @include border-radius(3px);
      @include zurui-line-top;
      @include text-shadow(0 1px 0 rgba(255,255,255,0.5));
      height: $height - 2*$page-base-w-padding;
      padding: $page-base-w-padding;
      background: $page-background;
      
      p {
        margin: 0;
        padding: 0;
      }
      textarea {
        margin: 0;
        padding: 0;
        height: $height - 2*$page-base-w-padding;
        width: $width - 2*$page-base-w-padding;
        resize: none;
      }
      label {
        display: none;
      }
    }
  }
}
